<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Easy Weather
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-default" type="button" style="margin-top: 8px; display: none" id='updateForecast'>Update Forecast</button></li>
      <li><a href="#" id='cityName'></a></li>
    </ul>
  </div>
</nav>
