<!-- views/pages/dashbord.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        Featured
      </div>
      <div class="panel-body">
        <h5 class="title">Special title treatment</h5>
        <p class="panel-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Featured
      </div>
      <div class="panel-body">
        <h5 class="title">Special title treatment</h5>
        <p class="panel-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
