<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main id='main'>
    <div class="jumbotron" id='locationPanel'>
        <h1>Welcome to my app</h1>
        <p>This app provides easy to read weather information with reccomendations for your day</p>
        <p>Let's start with your location</p>
        <span>
          <button class='btn btn-primary' id='btnCoords' data-loading-text='<i class="fa fa-spinner fa-spin"></i> Getting forcast'>Grab location</button>
          <em class='text-muted' id='pCoords'></em>
        </span>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
<script type="text/javascript" src="/index.js"></script>
</html>
