<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main id='main'>
    <div class="jumbotron" id='locationPanel'>
        <h1>Welcome to my app</h1>
        <p>This app provides easy to read weather information with reccomendations for your day</p>
        <p>Let's start with your location</p>
        <input id="pac-input" type="text" placeholder="Search Box">
        <p><button class='btn btn-primary' id='btnCoords'>Grab location</button></p>
        <p id='pCoords'></p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
<script type="text/javascript" src="/index.js"></script>
</html>
